BasedOnStyle: LLVM
DisableFormat: False

EmptyLineBeforeAccessModifier: Never
EmptyLineAfterAccessModifier: Never

AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: False
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: False

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: MultiLine
  AfterNamespace: True

BreakConstructorInitializers: BeforeComma

FixNamespaceComments: False
NamespaceIndentation: All
