BasedOnStyle: LLVM
DisableFormat: False

EmptyLineBeforeAccessModifier: Never
EmptyLineAfterAccessModifier: Never

AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: False
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: False

FixNamespaceComments: False
NamespaceIndentation: All
