BasedOnStyle: LLVM
DisableFormat: False

EmptyLineBeforeAccessModifier: Never
EmptyLineAfterAccessModifier: Never

AllowShortFunctionsOnASingleLine: Empty

FixNamespaceComments: False
NamespaceIndentation: All
